body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    text-align: left;
    box-shadow: 2px 3px 10px lavender; 
}

.heading h3
{
    display: inline;
}

.heading button
{
    float : right;
    border: 2px solid white;
    border-radius: 10px;
}

#status, #start, #restart
{
    font-size: 20px;
    box-shadow: 2px 2px 10px lavender;
}

.modal-dialog
{
    width: 90%;
}

.copyright_footer
{
    bottom: 0;
    position: fixed;
    width: 100%;
    line-height: 2;
    background-color: aliceblue;
    color: black;
}

ol
{
    text-align: left;
}

canvas
{
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px azure;
}